<h1>{{deck.name}}</h1>
<div>{{deck.description}}</div>

<div >
  <button *ngIf="isLoggedIn"  mat-mini-fab color="{{ isFavorited ? 'accent' : 'warn'}}" (click)="favorite()">
    <mat-icon>{{ isFavorited ? "favorite_border" : "favorite" }}</mat-icon>
  </button>
  <span>Favorites: {{deck.favorites.length}}</span>
</div>


<h2>Cards</h2>
<mat-accordion>
  <mat-expansion-panel *ngFor="let card of deckCards">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ card.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

      <mat-list-item>
        {{ card.subType }}
      </mat-list-item>

      <mat-list-item>
        <div *ngIf="card.type == 'Monster'">
          <table [width]="'20%'">
            <tr>
              <td>{{card.attribute}} </td>
              <td>{{ card.race }}</td>
            </tr>
            <tr>
              <td colspan="2">Level {{card.level}}</td>
            </tr>
            <tr>
              <td>ATK {{card.attack}}</td>
              <td>DEF {{card.defense}}</td>
            </tr>
          </table>
        </div>
      </mat-list-item>

      <mat-list-item>{{ card.description }}</mat-list-item>

      <div *ngIf="isAdmin">
        <button mat-flat-button  color="warn" (click)="deleteCard(card)">Delete Card</button>
        <button mat-flat-button  color="accent" (click)="openCardDialog(card)">Edit Card</button>
      </div>

  </mat-expansion-panel>
</mat-accordion>
